@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bangazon Workforce</h1>
        <blockquote class="blockquote text-left">
            <h2>Life Changing</h2>
            <p class="mb-0">The Bangazon Workforce changed my life, I don't know how I'd live without them.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Someone Famous</cite></footer>
        </blockquote>
        <blockquote class="blockquote text-right">
            <h2>True Hospitality</h2>
            <p class="mb-0">The workers at Bangazon Workforce treat you like you're a real human being, not just another dollar in their pocket.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Some Guy Outside 7/11</cite></footer>
        </blockquote>
        <blockquote class="blockquote text-left">
            <h2>Fulfilled My Purpose In Life</h2>
            <p class="mb-0">Without the Bangazon Workforce, I never would have found my true purpose on this earth.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Charlie Sheen</cite></footer>
        </blockquote>
    </div>
